:root{
    --secondary-color: rgb(226, 232, 238);
    --primary-color: rgb(0, 47, 84);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;

}

.top{
    background-color: var(--secondary-color);
}

.headerDiv {
    justify-self: center;
    padding-top: 10px;
    margin-bottom: 10px;
    color: var(--primary-color);
    display: flex;
    align-items: center; 
}

.headerDiv h1{
    font-size: min(10vw, 70px);
}

.headerDiv img{
    width: min(10vw, 70px);
    margin-right: 10px;

}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    margin-top: 20px;
}

#search-input, #results {
    width: min(90%, 700px);
    border-radius: 4px;
    font-size: 20px;
}

#search-input {
    height: 45px;
    border: 3px solid var(--primary-color);
    padding: 8px 20px 8px 44px;
    background-image: url("MGlass.svg");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 8px 8px; 
}

#results {
    list-style-type: none;
    width: min(90%, 700px); 
    background-color: white;
}

#results ul{
    display: flex; 
    flex-direction: column; 
    
}

#results li {
    position: relative;
    margin-bottom: 5px;
}

#results li:last-child{
    margin-bottom: 0px;
}

#results button {
    border-width: 0px;
    background-color:white;
    width: 100%;
    padding-top:5px;
    padding-bottom:5px;
    text-align: start;
    display: flex;
    align-items: center; 
    border-radius: 4px;
}

#results button:hover {
    border-width: 0px;
    background-color: rgb(212, 212, 212);
}

#results button span {
    margin-left: 10px;
    font-size: 20px;
}

#results button img {
    margin-left: 10px;
    width: 18px;
}

.source{
    padding-top: 6px;
    color: rgb(160, 160, 160);
    text-align: center;
}

.source a {
    text-decoration: none;
    color:rgb(80, 176, 255);
}
#country-name{
    text-align: center;
    font-size: min(12vw, 80px);
    color: var(--primary-color);
}

#country-data{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: min(5vw, 25px);
    text-align: center;
    
}

@media (max-width: 1500px) {
    #country-data {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    #country-data {
        grid-template-columns: 1fr; 
    }
}

.data-point{
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 10px;
}

.data-point .data{
    padding-top: 5px;
    font-size: min(10vw, 40px);
}